@font-face {
    font-family: HFNSS;
    src: url(./public/HFNSS.ttf);
}

.point {
    font-family: HFNSS;
    font-size:        4em;
    font-smooth: never;
    webkit-font-smoothing: none;
    -webkit-font-smoothing: none;
    margin: 0;
}

.blurer {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
/*  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);*/

}

.foregroundImage {
  margin: 0px;
  width: 150%;
  height: 1500px;
  position:absolute;
  left:-200px;
  top:-200px;
  /*background-image: url(./public/screenFilter1.png);*/
  opacity: 0.3;
  z-index: 999;
  pointer-events: none;
}

.content {
  width: 100%;
  height: 100%;

}

.container {
  margin-left: 2em;
  box-sizing: border-box;
  width: 100%;
}

.row {
  content: '';
  display: table;
  clear: both;
  width: 100%;
}

.column {
  float: left;
  min-width: 24em;
  min-height: 1.75em;
}

.columnNumber {

  float: left;
  width: 4em;
  min-height: 1.75em;

}